body {
    display: center;
    background-color: #e022b1;
    
}
div.nav-wrapper a {
    color: black;
    text-shadow: -2px 0 yellow, 0 2px yellow, 2px 0 yellow, 0 -2px yellow;
    font-family: 'Press Start 2P', cursive;
}

.text-muted {
    font-family: 'Wallpoet', cursive;
    text-shadow: -2px 0 yellow, 0 2px yellow, 2px 0 yellow, 0 -2px yellow;
}

.home-template {
    color: yellow;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-family: 'Press Start 2P', cursive;
}
.container {
    text-align: center;
    font-size: 2rem;
}

#generate {
    background-color: #6d5cb8;
    border: none;
    color: rgb(47, 2, 247);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
}

.responsive-img {
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 70px;
    width: 100%;
}

.main-card {
    width: 75%;
    padding: 20px;
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Press Start 2P', cursive;
}

.card-title {
    font-family: 'Press Start 2P', cursive;
    color: rgb(119, 119, 247)
}

.card-content {
    color: yellow;
    text-shadow: -2px 0 rgb(41, 5, 201), 0 2px rgb(41, 5, 201), 2px 0 rgb(41, 5, 201), 0 -2px rgb(41, 5, 201);
}
.delete-button {
    font-family: 'Press Start 2P', cursive;
    background-color: yellow;
    border-radius: 10px;
    border: 4px double #cccccc;
    cursor: pointer;
}